/* Compatible with Leaflet 0.7 */

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-locate a {
	background-image: url(/packages/leaflet-locatecontrol/images/locate.png);
}

.leaflet-touch .leaflet-control-locate a {
	background-image: url(/packages/leaflet-locatecontrol/images/locate_touch.png);
}

.leaflet-control-locate.requesting a {
	background-image: url(/packages/leaflet-locatecontrol/images/spinner.gif);
	background-position: 65% 65%;
}

.leaflet-control-locate.active a {
	background-position: -30px 0;
}

.leaflet-control-locate.active.following a {
	background-position: -60px 0;
}

.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}
